body{
    background: url(bf.jpg);
    color: white;
    font-family: sans-serif;
    align-self: auto;


}
main{
    background: #775c5c1f;
}

h1{
    text-align: center;
    font-family: 'Charm', cursive;
    background:#b54d1a2e;
    
}

#caixas{
    padding-top: 70px;
    text-align: center;
   
}

.barra{
    margin-bottom: -25px;
    color: white;
    background-color: transparent;
    border:solid 1px white;
    border-radius: 6px;
    height: 32px;
    width: 300px;
    padding-left: 9px;
}
 
::placeholder{
    color: white;
}

#botao{
    text-align: center;
    }

    #texto{
        text-align: center;
        padding-top: 20px;
    }
